// Card Start
$primary: rgba(0, 182, 238, 0.8);
$secondary: rgb(0, 195, 255);
$third: rgb(0, 139, 182);

.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 54px;
}

.image {
  height: 200px;
  opacity: 0.7;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.card-text {
  background: #fff;
  padding: 20px;
  min-height: 200px;
}

.card-text h3 {
  font-size: 2rem;
}

.card-text p {
  margin: 1.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.card-fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin-top: -50px;
  right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: $primary;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.card-fab:hover {
  background: $secondary;
  cursor: pointer;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
// Card End
